export(market.api.process)
export(market.api.query)
export(market.api.query.bitstamp)
export(market.api.query.btce)
export(market.api.query.kraken)
export(market.api.query.mtgox)
import(data.table)
import(digest)
import(RCurl)
import(RJSONIO)
